.wallet {
  margin-bottom: 44px;
}

.head {
  margin-bottom: 32px;
}

.title {
  display: flex;
  align-items: center;
  gap: 8px;
}

.titleIconBody {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: $accent;
}

.titleIcon {
  font-size: 24px;
  color: $white;
}

.tabs {
  margin-bottom: 32px;
}

.selects {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 44px;
}

.adress {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 44px;
}

.openQr {
  width: 100%;
  text-align: center;
  justify-content: center;
  min-height: 37px;
}

.qrCode {
  background-color: $bg-secondary;
  border-radius: 12px;
  padding: 24px;
  max-height: 370px;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.promo {
  margin-bottom: 44px;
}

.deposit {
  border-radius: 12px;
  padding: 12px;
  background-color: $bg-secondary;
}

.depositCheckbox {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.depositLabel {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.depositTags {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.depositTag {
  display: flex;
  align-items: center;
  gap: 4px;
}

.depositMoreInfo {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  color: $white;

  svg {
    font-size: 21px;
    transition: all 0.3s ease 0s;

    &.active {
      transform: scaleY(-1);
    }
  }
}

.depositInfo {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  max-height: 220px;
  overflow: hidden;
}

.depositInfoList {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.depositInfoItem {
  display: flex;
  gap: 6px;

  &::before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-top: 3.5px;
    background-color: $accent;
  }
}

.depositInfoButton {
  justify-content: center;
  text-align: center;
  min-height: 37px;
}
