.wallet {
  margin-bottom: 44px;
}

.head {
  margin-bottom: 32px;
}

.title {
  display: flex;
  align-items: center;
  gap: 8px;
}

.titleIconBody {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: $accent;
}

.titleIcon {
  font-size: 24px;
  color: $white;
}

.tabs {
  margin-bottom: 32px;
}

.selects {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 44px;
}

.adress {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 44px;
}

.openQr {
  width: 100%;
  text-align: center;
  justify-content: center;
  min-height: 37px;
}

.qrCode {
  background-color: $bg-secondary;
  border-radius: 12px;
  padding: 24px;
  max-height: 370px;
  overflow: hidden;

  img {
    width: 100%;
  }
}
