.header {
  position: sticky;
  top: 16px;
  z-index: 50;
  margin-bottom: 12px;
}

.body {
  padding: 16px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba($bg-secondary, 0.7);
  backdrop-filter: blur(8px);
}
