.body {
  padding-top: 22px;
  padding-bottom: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.text {
  color: $grey-light;
  text-align: center;
}

.link {
  color: $white;

  @media (any-hover: hover) {
    cursor: pointer;
    transition: all 0.3s ease 0s;

    &:hover {
      color: $accent;
    }
  }
}

.underline {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.gambling {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  color: $accent;
  font-size: 24px;
}
