.body {
  display: flex;
  flex-direction: column;
  background: $bg-popup;
  border: 1px solid $white;
  border-radius: 12px;
  gap: 16px;
  max-width: 333px;
  overflow: auto;
}

.top {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.user {
  display: flex;
  justify-content: space-between;
  gap: 6px;
}

.userLeft {
  display: flex;
  align-items: center;
  gap: 8px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.userLevel {
  display: flex;
  align-items: center;
  gap: 4px;
}

.userGames {
  display: flex;
  gap: 4px;
}

.userGame {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.userGameIcon {
  background-color: $bg;
  border-radius: 6px;
  color: $white;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 24px;
  overflow: hidden;

  img {
    width: 100%;
    object-fit: cover;
  }
}

.userGameScore {
  color: $grey;
  background-color: $bg;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12px;

  &.visible {
    background-color: $accent;
    color: $white;
  }
}

.tags {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.tag {
  border-radius: 8px;
  padding: 8px;
  background-color: $accent;
  text-align: center;
  display: flex;
  align-items: center;

  &.vip {
    justify-content: center;
    padding: 8px;
    height: 43px;
  }

  &.score {
    gap: 10px;
    padding: 4px 1.5px 4px 13.5px;
  }
}

.logo {
  font-size: 18px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: $bg-secondary;
}

.progress {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.progressTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progressRight {
  display: flex;
  align-items: center;
  gap: 4px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
}

.listTop {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}

.listDate {
  padding: 6px 8px;
  border-radius: 8px;
  background-color: $bg-secondary;
}

.listTitle {
  color: $grey-light;
}

.listItems {
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 336px;

  @include scrollbars(2px, $accent, transparent, 100px);
}

.listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  padding: 12px 16px;
  background-color: $bg;

  &.achieve {
    background-color: $bg-popup;
  }
}

.listItemLeft {
  display: flex;
  align-items: center;
  gap: 6px;
}

.listItemGame {
  width: 32px;
  height: 32px;
  border-radius: 6px;
  object-fit: cover;
}

.listItemButton {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  background-color: transparent;
  color: $white;

  @media (any-hover: hover) {
    cursor: pointer;
    transition: all 0.3s ease 0s;
    &:hover {
      color: $accent;
    }
  }
}

.listMore {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 8px;
  padding: 4px 12px;
  background: $bg;
  color: $accent;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (any-hover: hover) {
    cursor: pointer;
    transition: all 0.3s ease 0s;
    &:hover {
      background-color: $bg-secondary;
    }
  }
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.actionsItems {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  border: 1px solid $accent;
  border-width: 1px 0;
  gap: 12px;
}

.actionsCol {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &:last-child {
    align-items: flex-end;
  }
}

.actionsItem {
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 6px;
  color: $grey-light;

  @media (any-hover: hover) {
    cursor: pointer;
    transition: all 0.3s ease 0s;
    &:hover {
      color: $white;
    }
  }
}

.actionsSupport {
  align-self: flex-end;
  color: $white;

  @media (any-hover: hover) {
    cursor: pointer;
    transition: all 0.3s ease 0s;
    &:hover {
      color: $accent;
    }
  }
}

.actionsIcon {
  font-size: 24px;
}
