// POPINS

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src:
    url("@assets/fonts/Poppins/Poppins-Thin.woff2") format("woff2"),
    url("@assets/fonts/Poppins/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src:
    url("@assets/fonts/Poppins/Poppins-ExtraLight.woff2") format("woff2"),
    url("@assets/fonts/Poppins/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src:
    url("@assets/fonts/Poppins/Poppins-Light.woff2") format("woff2"),
    url("@assets/fonts/Poppins/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src:
    url("@assets/fonts/Poppins/Poppins-Regular.woff2") format("woff2"),
    url("@assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src:
    url("@assets/fonts/Poppins/Poppins-Medium.woff2") format("woff2"),
    url("@assets/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src:
    url("@assets/fonts/Poppins/Poppins-Semibold.woff2") format("woff2"),
    url("@assets/fonts/Poppins/Poppins-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src:
    url("@assets/fonts/Poppins/Poppins-Bold.woff2") format("woff2"),
    url("@assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src:
    url("@assets/fonts/Poppins/Poppins-ExtraBold.woff2") format("woff2"),
    url("@assets/fonts/Poppins/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src:
    url("@assets/fonts/Poppins/Poppins-Black.woff2") format("woff2"),
    url("@assets/fonts/Poppins/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

// POPINS

@font-face {
  font-family: "SF Pro Rounded";
  font-display: swap;
  src:
    url("@assets/fonts/SFProRounded/sf-pro-rounded-medium.woff2") format("woff2"),
    url("@assets/fonts/Poppins/sf-pro-rounded-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Rounded";
  font-display: swap;
  src:
    url("@assets/fonts/SFProRounded/sf-pro-rounded-semibold.woff2") format("woff2"),
    url("@assets/fonts/Poppins/sf-pro-rounded-semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
