.text-h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
}

.text-h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
}

.text-body-bold {
  font-weight: 700;
  font-size: 14px;
  line-height: 115%;
}

.text-body {
  font-weight: 500;
  font-size: 14px;
  line-height: 115%;
}

.text-sub-body {
  font-weight: 500;
  font-size: 10px;
  line-height: 100%;
}

.text-sub-body-bold {
  font-weight: 700;
  font-size: 10px;
  line-height: 100%;
}

.text-notification {
  font-weight: 400;
  font-size: 8px;
}

.title-section {
  display: flex;
  align-items: center;
  gap: 8px;

  @apply text-h2;

  & .title-icon {
    font-size: 36px;
    color: $accent;
  }
}
