$bg: #0b1723;
$bg-secondary: #14242f;
$bg-popup: #192B38;
$white: #fff;
$accent: #f2a90c;
$grey-dark: #283036;
$grey: #626262;
$grey-light: #acacac;
$red: #e83241;
$green: #43b240;
$extra-light: #fbfbfb;

$fontPoppins: "Poppins", sans-serif;
$fontSFProRounded: "SF Pro Rounded", sans-serif;