.body {
  padding: 22px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  gap: 12px;

  &::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $red;
  }
}

.slider {
  width: 100%;
}

.slide {
  width: 58px;
  height: auto;
}
