.container {
  overflow: hidden;
}

.body {
  padding: 22px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  gap: 12px;

  &::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $red;
    animation: blink 0.6s ease 0s infinite alternate both;
  }
}

.slider {
  width: 100%;
  overflow: visible;
}

.slide {
  width: 58px;
  height: auto;
}


@keyframes blink {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}