.container {
  overflow: hidden;
}

.body {
  padding: 22px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  gap: 12px;

  &::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $red;
    animation: blink 0.6s ease 0s infinite alternate both;
  }
}

.tags {
  display: flex;
  gap: 12px;
}

.tag {
  background-color: $bg-secondary;
  border-radius: 8px;
  padding: 8px 12px;
  border: 1px solid transparent;
  transition: all 0.3s ease 0s;
  color: $grey-light;

  @media (any-hover: hover) {
    cursor: pointer;
    transition: all 0.3s ease 0s;
    &:hover {
      border-color: $bg-popup;
    }
  }

  &.active {
    border-color: $accent;
    color: $white;
  }
}

.slider {
  width: 100%;
  overflow: visible;
}

.slide {
  width: 58px;
  height: auto;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
