.body {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 12px 0 24px 0;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.level {
  display: flex;
  align-items: center;
  gap: 4px;
}
