.field {
  display: inline-flex;
  flex-direction: column;
  gap: 4px;
}

.label {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  font-size: 27px;
}

.input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  width: 100%;
  padding: 8px 12px;
  background-color: $bg-popup;
  border-radius: 8px;
}

.copyIcon {
  font-size: 24px;
  @media (any-hover: hover) {
    cursor: pointer;
    transition: all 0.3s ease 0s;
    &:hover {
      color: $accent;
    }
  }
}
