//< " NORMALIZE " >=============================================================================================================>//
@use "./modules/normalize";

//< " MIXINS " >=============================================================================================================>//
// @import "./modules/_mixins";

//< " Fonts " >=============================================================================================================>//
@use "./modules/fonts";

//< " Utilities " >=============================================================================================================>//
@use "./modules/utilities";

//< " body SITE " >=============================================================================================================>//
html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: $bg;
  font-family: $fontPoppins;
  color: $white;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  position: relative;
  width: 100%;
  min-height: 100vh;

  @include scrollbars(0px, transparent, transparent, 0px);
}

//< " Wrapper " >=============================================================================================================>//
#app {
  min-height: 100%;
  display: flex;
}

.wrapper {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  // overflow: hidden;
  padding: 16px 0;
}
