//< " NORMALIZE " >=============================================================================================================>//
@use "./modules/normalize";

//< " MIXINS " >=============================================================================================================>//
// @import "./modules/_mixins";

//< " Fonts " >=============================================================================================================>//
@use "./modules/fonts";

//< " Utilities " >=============================================================================================================>//
@use "./modules/utilities";

//< " body SITE " >=============================================================================================================>//
body {
  background-color: $bg;
  font-family: $fontPoppins;
  color: $white;
  font-size: 14px;

  @include scrollbars(0px, transparent, transparent, 0px);
}

//< " Wrapper " >=============================================================================================================>//
#app {
  min-height: 100%;
  display: flex;
}

.wrapper {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  // overflow: hidden;
  padding: 16px 0;
}
