.body {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 32px;
}

.table {
  display: flex;
  flex-direction: column;
  padding: 12px;
  border-radius: 12px;
  background-color: $bg-secondary;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:not(:first-child) {
    padding-top: 15px;
  }

  &:not(:last-child) {
    padding-bottom: 15px;

    border-bottom: 1px solid $grey-dark;
  }
}

.coin {
  font-size: 21px;
}

.value {
  display: flex;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 24px;
}

.buttonsTop {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.button {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  min-height: 37px;

  svg {
    font-size: 21px;
  }
}
