.search {
  display: inline-flex;
  align-items: center;
  width: 100%;
  max-width: 94px;

  transition: all 0.3s ease-in-out 0s;
  &.open {
    max-width: 100%;
  }
}

.field {
  min-width: 0;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding: 8px 12px;
  background-color: $bg-secondary;
  border-radius: 8px;
  flex: 1 1 auto;
}

.button {
  display: flex;
  align-items: center;
  color: $grey-light;
  background: transparent;
  font-size: 16px;
}

.input {
  color: $white;
  background: transparent;
  width: 100%;

  &::placeholder {
    color: $grey-light;
  }
}

.refreshBody {
  overflow: hidden;
  transition: all 0.3s ease 0s;
  max-width: 0%;

  &.visible {
    max-width: 100%;
  }
}

.refresh {
  margin-left: 8px;
  font-size: 16px;
  border-radius: 8px;
  background-color: $bg-secondary;
  color: $accent;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:disabled {
    color: $grey-light;
    pointer-events: none;
    cursor: not-allowed;
    background-color: $grey;
  }
}
