.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  gap: 4px;
  color: $white;

  &.optional {
    color: $grey-light;
  }
}

.input {
  padding: 12.5px 12px;
  background-color: $bg-secondary;
  border: 1px solid $bg-secondary;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 4px;

  &.error {
    border-color: $red;
  }

  input {
    color: $white;
    background-color: transparent;
    flex: 1 1 auto;
    width: 100%;
  }
}

.coin {
  width: 21px;
  height: 21px;
  min-width: 21px;
  min-height: 21px;
  font-size: 21px;
}

.amount {
  display: flex;
  gap: 8px;
}

.amountButton {
  padding: 7px 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $white;
  background-color: $bg;
  border-radius: 6px;

  @media (any-hover: hover) {
    cursor: pointer;
    transition: all 0.3s ease 0s;
    &:hover {
      background-color: $bg-popup;
    }
  }
}

.note {
  &.error {
    color: $red;
  }
}
