.button {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 8px 24px;
    border-radius: 10px;
    background: transparent;

    &,
    &.primary {
        background: $accent;
        color: $white;

        &:disabled {
            background-color: $grey-light;
        }
    }

    &.secondary {
        border: 2px solid $accent;
        color: $accent;

        &:disabled {
            border-color: $grey-light;
            color: $grey-light;
        }
    }

    &:not(:disabled) {
        @media (any-hover: hover) {
            cursor: pointer;
            transition: all 0.3s ease 0s;

            &:hover {
                opacity: 0.7;
            }
        }
    }


}