.progress {
  border-radius: 2px;
  background-color: $bg;
  height: 5px;
  width: 100%;
}

.bar {
  width: 0%;
  height: 5px;
  border-radius: 2px;
  background-color: $accent;
  transition: all 0.3s ease 0s;
}
