.progress {
  border-radius: 1000px;
  background-color: $bg;
  height: 5px;
  width: 100%;
  position: relative;

  &.primary {
    background-color: $bg;
  }
  &.secondary {
    background-color: $bg-secondary;
  }
}

.bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 1000px;
  background-color: $accent;
  transition: all 0.3s ease 0s;
}
