.body {
  display: flex;
  flex-direction: column;
  padding: 22px 0;
}

.title {
  margin-bottom: 32px;
}

.tabs {
  margin-bottom: 20px;
}

.table {
  background-color: $bg-secondary;
  overflow: hidden;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
}

.tableMain {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.row {
  padding-bottom: 12px;

  &:not(:last-child) {
    border-bottom: 1px solid $grey-dark;
  }

  &:not(:first-child) {
    padding-top: 12px;
  }
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.done {
  color: $green;
}

.progress {
  color: $accent;
}

.fail {
  color: $red;
}

.column {
  width: 100%;

  &.id {
    max-width: 26px;
  }

  &.amound {
    max-width: 68px;
  }

  &.date {
    max-width: 71px;
  }

  &.status {
    max-width: 62px;
  }
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.nav {
  font-size: 12px;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;

  &:disabled {
    color: rgba($white, 0.4);
    pointer-events: none;
  }

  @media (any-hover: hover) {
    cursor: pointer;
    transition: all 0.3s ease 0s;
    &:hover {
      color: $accent;
    }
  }
}

.pagButton {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid $grey;
  color: $white;
  background: transparent;

  @media (any-hover: hover) {
    cursor: pointer;
    transition: all 0.3s ease 0s;
    &:hover {
      border-color: $white;
      color: $accent;
      background-color: $white;
    }
  }

  &:disabled {
    pointer-events: none;
  }

  &.active {
    border-color: $white;
    color: $accent;
    background-color: $white;
  }
}
