.card {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  max-width: 58px;
}

.img {
  border-radius: 8px;
  border: 1px solid $accent;
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 4px 0;
  width: 100%;
  border-radius: 6px;
  background-color: $accent;
  align-items: center;
  text-align: center;
}
