.container {
    overflow: hidden;
}

.body {
    padding: 22px 0px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feeds {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.slider {
    width: 100%;
    overflow: visible;
}